
@using WebBanSach.Models.EF;
@model List<Chude>

    @foreach (var item in Model)
    {
        
                    <li><span class="filter active" data-filter="app card logo web">@item.Tenchude</span></li>
                    @*<li><span class="filter" data-filter="app">@item.Tenchude</span></li>
                    <li><span class="filter" data-filter="card">@item.Tenchude</span></li>
                    <li><span class="filter" data-filter="logo">@item.Tenchude</span></li>
                    <li><span class="filter" data-filter="web">@item.Tenchude</span></li>*@
                
                }
                
